@charset "utf-8";
/* CSS Document */

@font-face{ font-family: "myraid"; src: url(../fonts/Myriad Pro Bold SemiExtended.ttf)}

html,body{margin:0; padding:0; font-size:18px; color:#5e5e5e; font-family: 'Open Sans', sans-serif; }

body {background: #1c1c1c}

h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal;}

ul{margin:0; padding:0; list-style:none;}

a{text-decoration:none; transiion: 0.3s; -moz-transition: 0.3s; -webkit-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s;}

.container{max-width:1160px; margin:0 auto;}

.content::after { background:url(../images/bt-line.png) center no-repeat; content: ""; height: 35px; left: 0px; right:0px; position: absolute;width: 100%; margin:auto;}

/*************************************

	HEADER TOP

*************************************/

section.top-nav {
	font-family: "myraid";
    background: #000;
    position: relative;
    /* top: 50px; */
	width: 100%;
	z-index: 999;
}

section.top-nav::before {
	content: "";
    background: url(../img/topbgwyt.png) no-repeat;
    top: -18px;
    position: absolute;
    height: 100%;
    left: 0px;
    right: 0px;
    z-index: 999;
}


.cloud {
	height: 550px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    z-index: 99;
    opacity: 0.5;
}

.cloud > div {
	width: 4000px;
    background: url(../img/moving-clouds.png);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.cloud .mover-1 {
	animation: moveSlideshow 100s linear infinite;
}
.cloud .mover-2 {
	opacity: 0;
	transition: opacity 0.5s ease-out;
	background-position: 0 -200px;
	animation: moveSlideshow 100s linear infinite;
}
.cloud:hover .mover-2 {
	opacity: 1;
}

@keyframes moveSlideshow {
	100% {right: 0px;
		transform: translateX(66.6666%);  
	}
}

section.banner {
	position: absolute;
    top: 75px;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
}

section.cultivating::after {
    content: "";
    background: url(../img/rev-topbgwyt.png) no-repeat;
    top: -204px;
    position: absolute;
    height: 100%;
    left: 0px;
    right: 0px;
    z-index: 999;
    bottom: 0px;
}

div.call-us {
	margin-top: 40px
}

div.call-us ul {
	text-align: center;
	width: 100%;
	font-size: 14px
}

div.call-us ul li{
	display: inline-block;
	color: #f1f1f1;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 0.5px
}

div.call-us ul span{
	color: #d99795;
}

div.call-us ul li::before{
	position: absolute;
	content: "|";
	left: -3px
}

div.call-us ul li:first-child::before {
	content: "";
}

div.nav{
	padding-top: 50px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center
}

div.nav ul {
	width: 100%;
	text-align: center
}

div.nav li{
	display: inline-block;
	color: #f1f1f1;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 16px;
	letter-spacing: 0.5px
}

div.logo {
	text-align: center;
	margin-top: 40px;
}

section.cultivating {
	background: url(../img/cultivating.jpg);
	height: 644px;
	display: flex;
	align-items: center;
	position: relative;
}

section.cultivating::before {
	content: "";
    background: url(../img/wytsmokeybg.png) no-repeat;
    top: 0px;
    position: absolute;
    height: 100%;
    left: 0px;
	right: 0px;
	z-index: 0
}

section.cultivating .button {
	margin-top: 60px;
}

.button span{
	background: #d99795;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 700;
	margin-left: 5px
}

section.success {
	background-color: transparent;
    position: relative;
    height: 683px;
}

.inner-success {
	background-image: url(../img/smokeybg.png);
    height: 1018px;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: -173px;
    z-index: 999;
}

.success-content {
	width: 50%;
	margin: auto;
}

section.success h2 {
	color: #d99795;
	margin-bottom: 72px;
	position: relative;
	font-size: 3em
}

section.success h2::after {
	content: "";
    background: url(../img/line-pink.png) no-repeat;
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    z-index: 0;
    bottom: -37px;
	width: 280px;
	margin: auto
}

section.success p {
	color: #ffffff;
	font-size: 20px
}

section.success p .highlight-text {
	color: #d99795;
	font-weight: 700;
}

section.success .button {
	text-align: center;
	margin-top: 70px;	
}

section.redefine {
	background: url(../img/redefine.png);
    height: 730px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

section.redefine h2 {
	color: #000;
    margin-bottom: 72px;
    position: relative;
    font-size: 2em;	
}

section.redefine h2::after {
	content: "";
    background: url(../img/line-black.png) no-repeat;
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    z-index: 0;
    bottom: -37px;
	width: 180px;
	margin: auto
}

section.redefine p {
	color: #1c1c1c;
	font-size: 20px;
	text-align: left
}

section.redefine p .highlight-text {
	color: #d99795;
	font-weight: 700;
}

section.redefine .button {
	text-align: center;
	margin-top: 70px;	
}

.redefine-content {
	width: 50%;
	text-align: center;
	padding: 10px
}

.gallery {
	padding: 20px 0px;
	background: #ffffff;
	border-top: 5px solid #d99795;
	border-bottom: 5px solid #d99795;
}

.gallery .owl-theme .owl-controls{
	display: none !important;
}

.gallery .owl-item {
	transition: transform .2s;
	background: #000;
}

.gallery .owl-item:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	opacity: 1;
	z-index: 0
}

footer {
	background: #ffffff;
	padding: 50px 10px 10px;
    text-align: center;
}

footer p {
	font-size: 2.5rem;
	color: #d99795;
}

footer div.nav li {
	color: #1c1c1c;
}

footer div.nav {
	position: relative
}

footer div.nav::before {
	content: "";
    background: url(../img/line-pink.png) no-repeat;
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    z-index: 0;
    bottom: -10px;
	width: 280px;
	margin: auto
}

footer .call-us ul li {
	color: #1c1c1c
}

